body {
  background-color: #c4def5;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: rgb(152, 85, 184);
  text-align: center;
}

p {
  font-size: 25px;
  color: #333;
}

a {
  color: darkgreen;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
